
#offcanvasBody{
    text-align: center;
    font-size:x-large;
}
#nav-sub:hover{
    color: rgb(38, 195, 38);
    
}
#about-me{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5%;
    padding-bottom: 7%;
    padding-left: 3%;
    padding-right: 3%;
}
p{
    font-size: large;
}