body{
    background-color: #e2e2e2;
}
.row{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
/*Titles*/
h1{
    color: #535353;
    padding-top: 3%;
    padding-bottom: 5%;
}
/*for nav bar*/
#offcanvasBody{
    text-align: center;
    font-size: large;
}
#nav-sub:hover{
    color: rgb(38, 195, 38);
    
}
svg:hover{
    fill: rgb(38, 195, 38); 
}
/*index page*/
#about-me{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    padding-right: 3%;
}
p, li, div>b{
    font-size: large;
}
/*Contact Page*/
.side-by-side{
    display: inline-block;
    margin: 5%;
}
/*Project Page*/
#project-title{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50%;
    padding-bottom: 50%;
}
#project-title{
    padding-top: 3%;
    padding-bottom: 3%;
}
#project-button{
    text-decoration: none;
    color: black;
}
#project-button:hover{
    color: rgb(38, 195, 38);
}
/*LittleLemon Project*/
#img-slide{
    max-height: 500px;
}
#responsive-box {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}
#start{
    text-align: start;
}