/*for nav bar*/
#offcanvasBody{
    text-align: center;
    font-size: large;
}
#nav-sub:hover{
    color: rgb(38, 195, 38);
    
}
svg:hover{
    fill: rgb(38, 195, 38); 
}
/*index page*/
#about-me{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    padding-right: 3%;
}
p{
    font-size: large;
}
body{
    background-color: #e2e2e2;
}
h2{
    color: #535353;
    padding-top: 3%;
    padding-bottom: 5%;
}
.row{
    text-align: center;
}
.side-by-side{
    display: inline-block;
    margin: 5%;
}
.smaller-text>p{
    font-size: small;
}
.smaller-text{
    position:fixed;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 0%;
}